/* 
color theme: #0a9600/#115500
tint: #e7eee6, #cfddcc, #a0bb99
#333
#555
*/

/*********************/
/* General Component */
/*********************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  scroll-behavior: smooth;
}

a {
  font-style: none;
  text-decoration: none;
}

a:link,
a:visited {
  color: #555;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  padding: 16px 32px;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
  font-weight: 600;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgba(10, 150, 0, 255);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #0f4d00;
  color: #fff;
  box-shadow: 0 5px 3px 2px #a0bb99;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #cfddcc;
  color: #555;
  box-shadow: 0 5px 3px 2px #a0bb99;
}

.margin-right-sm {
  margin-right: 16px;
}

.heading-primary {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 32px;
}

.heading-primary span {
  color: rgba(10, 150, 0, 255);
}

.heading-secondary {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  color: #333;
  margin-bottom: 32px;
}

.heading-secondary span {
  color: rgba(10, 150, 0, 255);
}

/*********************/
/* Header */
/*********************/

.logo-imgs img {
  height: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7eee6;
  height: 64px;
  padding: 0 98px;
}

/*********************/
/* Navigation */
/*********************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgba(10, 150, 0, 255);
}

.btn-cta:link,
.btn-cta:visited {
  padding: 12px 24px;
  border-radius: 12px;
  background-color: rgba(10, 150, 0, 255);
  color: #fff;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: #0f4d00;
  color: #fff;
  box-shadow: 0 5px 3px 2px #a0bb99;
}

.nav-icon {
  height: 12px;
  margin-left: 10px;
}

/*********************/
/* Content Component */
/*********************/

.section-content {
  padding: 100px;
  position: relative;
  width: 100%;
  min-height: 93.4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7eee6;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-text {
  position: relative;
  max-width: 600px;
}

.content-text h1 {
  color: #333;
  font-size: 45px;
  line-height: 1.4em;
  font-weight: 700;
}

.content-text span {
  color: rgba(10, 150, 0, 255);
  font-size: 1.2em;
  font-weight: 900;
}

.content-text p {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  margin: 24px 0 24px 0;
}

.content-img {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

.content-img img {
  max-width: 450px;
}

.gadget {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.gadget li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.gadget li:hover {
  transform: translateY(-15px);
}

.gadget li img {
  max-width: 60px;
}

.content--links {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.content--links li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.8);
  filter: invert(1);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2b8a3e;
  clip-path: circle(700px at right 500px);
}

/*********************/
/* Banner Section */
/*********************/

.banner {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7eee6;
}

.slider {
  width: 1200px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
  align-items: center;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 1200px;
  height: 800px;
  overflow: hidden;
}

/* FOR MANUAL SLIDE */
.navigation-manual {
  position: absolute;
  width: 1200px;
  margin-top: 133px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid rgba(10, 150, 0, 255);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #0f4d00;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* FOR AUTOMATIC SLIDE */

.navigation-auto {
  position: absolute;
  display: flex;
  width: 1200px;
  justify-content: center;
  margin-top: 780px;
}

.navigation-auto div {
  border: 2px solid rgba(10, 150, 0, 255);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #0f4d00;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #0f4d00;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #0f4d00;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #0f4d00;
}

/*********************/
/* Hero Section */
/*********************/

.section-hero {
  background-color: #e7eee6;
  padding: 80px 0;
}

.hero {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 96px;
}

.hero-img {
  width: 100%;
  height: 90%;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.09);
  /* box-shadow: 40px -16px 3px rgba(17, 85, 0, 0.8); */
  overflow: hidden;
}

.hero-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 48px;
}

.delivered-meals {
  margin-top: 48px;
  align-items: center;
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: -16px;
  border: 3px solid #cfddcc;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 18px;
  font-weight: 500;
}

.delivered-text span {
  color: rgba(10, 150, 0, 255);
  font-weight: 700;
}

/*********************/
/* Article Section */
/*********************/

.section-article {
  background-color: #e7eee6;
  padding: 40px 0 80px 0;
}

.article {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
}

.article-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 48px;
  text-align: justify;
}

/*********************/
/* Footer Section */
/*********************/

.footer {
  background-color: #e7eee6;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  /* box-shadow: 0 -3px 3px 5px rgba(0, 0, 0, 0.05); */
  align-items: center;
  border-top: 1px solid #000;
}

.footer--link {
  background-color: rgba(10, 150, 0, 255);
  padding: 30px 150px;
}

.footer--links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.social-icon {
  width: 32px;
  height: 32px;
  color: #000;
  transition: all 0.5s;
}

.social-icon:hover,
.social-icon:visited {
  color: #e7eee6;
}

.footer--copyright {
  display: flex;
  gap: 40px;
}
